table {
    width: 100%;    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% 4%;
  }